<div ng-controller="setting_registerlink"  class="vj-ux-manager" ng-show="Loaded">
    <uiengine provider="AngularBootstrap" identifier="setting_registerlink" class="uiengine-wrapper registerlink">
        <uilayout name="default">
            <uielement name="ShowRegisterLink" control="toggle" attr-class="toggle_right"></uielement>
            <uielement name="ShowAvatar" control="toggle" attr-class="toggle_right"></uielement>
            <uielement name="ShowNotification" control="toggle" attr-class="toggle_right"></uielement>
        </uilayout>
    </uiengine>
</div>