<div ng-controller="settings_installpackage" class="vj-ux-manager">
    <uiengine provider="AngularBootstrap" identifier="settings_installpackage">
        <uilayout name="default" attr-ng-show="showInstall">
            <uitemplate>
                <br />
                <div mn-ng-repeat="package in ui.data.PackageList.Options">
                    <div class="float-end textright">
                        <div class="displayprop">
                            <a class="ux-btn ux-btn-hover" ng-click="Click_Email(package.email)">
                                <em class="fas fa-envelope" data-bs-toggle="tooltip" data-bs-placement="bottom" title="[L:Email]"></em>
                            </a>
                            <a class="ux-btn ux-btn-hover" href="{{package.url}}" target="_blank">
                                <em class="fas fa-link" data-bs-toggle="tooltip" data-bs-placement="bottom" title="[L:URL]"></em>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="displayprop productinfo">
                            <span class="pname">{{package.friendlyName}} v{{package.version}}</span>
                            <br />
                            <span>{{package.organization}}</span>
                            <br />
                            <span class="pdescription">{{Description(package.description)}}</span>
                        </div>
                    </div>

                    <div class="termsinfo"><input type="checkbox" /><span>[L:TermsLeft] </span><a ng-click="Click_ShowLicense(package.license)">[L:TermsCenter]</a><span> [L:TermsRight]</span></div>
                    <hr />
                </div>
                <div class="text-end fixed-footer">
                    <button type="button" ng-click="Click_Install()" class="btn btn-sm btn-primary">
                        [L:Finish]
                    </button>
                </div>
            </uitemplate>
        </uilayout>
        <uilayout name="default" attr-ng-hide="showInstall">
            <uitemplate>
                <div mn-ng-repeat="package in ui.data.PackageErrorList.Options">
                    <br />
                    <strong>{{package.friendlyName}}</strong>
                    <hr />
                    <div class="errorlog scrollbar">
                        <div mn-ng-repeat="log in package.logs">
                            <p class="{{log.Type}}">{{log.Type}} {{log.Description}}</p>
                        </div>
                    </div>
                </div>
            </uitemplate>
        </uilayout>
    </uiengine>
</div>