## Ignore Everything except Vanjaro Folders
/*
!/DesktopModules
/DesktopModules/*
!/DesktopModules/Vanjaro

!/Portals
/Portals/*
!/Portals/_default
/Portals/_default/*

!/Portals/_default/Skins
/Portals/_default/Skins/*
!/Portals/_default/Skins/Vanjaro

!/Portals/_default/Containers
/Portals/_default/Containers/*
!/Portals/_default/Containers/Vanjaro

!favicon.ico

/DesktopModules/Vanjaro/UXManager/Extensions/Apps/About/apps-about-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Apps/Icon/apps-icon-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Apps/Image/apps-image-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Apps/Link/apps-link-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Apps/ModuleSettings/apps-modulesettings-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Apps/SectionSettings/apps-sectionsettings-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Apps/Video/apps-video-resources.zip

/DesktopModules/Vanjaro/UXManager/Extensions/Block/Language/block-language-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Block/BreadCrumb/block-breadcrumb-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Block/Custom/block-custom-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Block/Login/block-login-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Block/LoginLink/block-loginlink-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Block/Logo/block-logo-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Block/Menu/block-menu-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Block/Profile/block-profile-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Block/Register/block-register-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Block/RegisterLink/block-registerlink-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Block/SearchInput/block-searchinput-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Block/SearchResult/block-searchresult-resources.zip

/DesktopModules/Vanjaro/UXManager/Extensions/Menu/Azure/menu-integrations-azure-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Menu/EmailServiceProvider/menu-integrations-emailserviceprovider-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Menu/GoogleAnalytics/menu-integrations-googleanalytics-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Menu/Pixabay/menu-integrations-pixabay-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Menu/YouTube/menu-integrations-youtube-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Menu/GoogleReCaptcha/menu-integrations-googlerecaptcha-resources.zip

/DesktopModules/Vanjaro/UXManager/Extensions/Menu/Assets/menu-assest-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Menu/CustomCSS/menu-customecss-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Menu/Domain/menu-domain-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Menu/Extensions/menu-extensions-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Menu/Help/menu-help-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Menu/Languages/menu-languages-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Menu/LogoAndTitle/menu-logoandtitle-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Menu/Logs/menu-logs-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Menu/LogsSettings/menu-logssettings-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Menu/Pages/menu-pages-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Menu/Roles/menu-roles-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Menu/Scheduler/menu-scheduler-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Menu/Security/menu-security-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Menu/SEO/menu-seo-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Menu/Sites/menu-sites-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Menu/SQLConsole/menu-sqlconsole-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Menu/Theme/menu-theme-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Menu/ThemeBuilder/menu-themebuilder-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Menu/Users/menu-users-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Menu/Workflow/menu-workflow-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Menu/SiteGroups/menu-sitegroups-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Menu/GoogleTagManager/menu-integrations-googletagmanager-resources.zip

/DesktopModules/Vanjaro/UXManager/Extensions/Toolbar/DeviceMode/toolbar-devicemode-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Toolbar/Fullscreen/toolbar-fullscreen-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Toolbar/Language/toolbar-language-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Toolbar/Navigator/toolbar-navigator-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Toolbar/PageSetting/toolbar-pagesetting-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Toolbar/Preview/toolbar-preview-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Toolbar/Redo/toolbar-redo-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Toolbar/Undo/toolbar-undo-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Toolbar/VersionManagement/toolbar-versionmanagement-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Toolbar/ViewLayout/toolbar-viewlayout-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Migrate/migrate-vanjaro.zip

/DesktopModules/Vanjaro/UXManager/Library/Resources.zip
/DesktopModules/Vanjaro/Common/common-library-resources.zip
/DesktopModules/Vanjaro/Core/Extensions/Notification/Notification/core-extensions-notification-resources.zip
/DesktopModules/Vanjaro/Core/Extensions/Workflow/Review/core-extensions-review-resources.zip
/DesktopModules/Vanjaro/Core/Library/core-library-resources.zip
/DesktopModules/Vanjaro/Core/Library/licenses-resources.zip
/DesktopModules/Vanjaro/Core/Providers/Authentication/providers-authentication-resources.zip
/Portals/_default/Containers/Vanjaro/container-resource.zip
/Portals/_default/Skins/Vanjaro/skin-resource.zip
/DesktopModules/Vanjaro/Core/Library/themes-resources.zip

/DesktopModules/Vanjaro/UXManager/Extensions/Menu/Privacy/menu-privacy-resources.zip
/DesktopModules/Vanjaro/Core/Library/Install/Common.01.00.00.SqlDataProvider
/DesktopModules/Vanjaro/Core/Library/Install/Common.Uninstall.SqlDataProvider
/DesktopModules/Vanjaro/UXManager/Library/library-uxmanager-resources.zip
/DesktopModules/Vanjaro/URL/url-resources.zip
/DesktopModules/Vanjaro/URLManager/url-resources.zip
/DesktopModules/Vanjaro/Core/Library/Packager/DNN Upgrade/placeholder.txt
/DesktopModules/Vanjaro/Core/Library/themes-resources.zip
/DesktopModules/Vanjaro/UXManager/Library/Resources/node_modules
/DesktopModules/Vanjaro/Core/Library/App.config

## Ignore Visual Studio temporary files, build results, and
## files generated by popular Visual Studio add-ons.
##
## Get latest from https://github.com/github/gitignore/blob/master/VisualStudio.gitignore

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015/2017 cache/options directory
.vs/
# Uncomment if you have tasks that create the project's static files in wwwroot
#wwwroot/

# Visual Studio 2017 auto generated files
Generated\ Files/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUNIT
*.VisualState.xml
TestResult.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# Benchmark Results
BenchmarkDotNet.Artifacts/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# StyleCop
StyleCopReport.xml

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Chutzpah Test files
_Chutzpah*

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# Visual Studio Trace Files
*.e2e

# TFS 2012 Local Workspace
$tf/

# Guidance Automation Toolkit
*.gpState

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# JustCode is a .NET coding add-in
.JustCode

# TeamCity is a build add-in
_TeamCity*

# DotCover is a Code Coverage Tool
*.dotCover

# AxoCover is a Code Coverage Tool
.axoCover/*
!.axoCover/settings.json

# Visual Studio code coverage results
*.coverage
*.coveragexml

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# MightyMoose
*.mm.*
AutoTest.Net/

# Web workbench (sass)
.sass-cache/

# Installshield output folder
[Ee]xpress/

# DocProject is a documentation generator add-in
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

# Click-Once directory
publish/

# Publish Web Output
*.[Pp]ublish.xml
*.azurePubxml
# Note: Comment the next line if you want to checkin your web deploy settings,
# but database connection strings (with potential passwords) will be unencrypted
*.pubxml
*.publishproj

# Microsoft Azure Web App publish settings. Comment the next line if you want to
# checkin your Azure Web App publish settings, but sensitive information contained
# in these scripts will be unencrypted
PublishScripts/

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config
# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

# Microsoft Azure Build Output
csx/
*.build.csdef

# Microsoft Azure Emulator
ecf/
rcf/

# Windows Store app package directories and files
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt
*.appx

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!?*.[Cc]ache/

# Others
ClientBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs

# Including strong name files can present a security risk
# (https://github.com/github/gitignore/pull/2483#issue-259490424)
#*.snk

# Since there are multiple workflows, uncomment next line to ignore bower_components
# (https://github.com/github/gitignore/pull/1529#issuecomment-104372622)
#bower_components/

# RIA/Silverlight projects
Generated_Code/

# Backup & report files from converting an old project file
# to a newer Visual Studio version. Backup files are not needed,
# because we have git ;-)
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm
ServiceFabricBackup/
*.rptproj.bak

# SQL Server files
*.mdf
*.ldf
*.ndf

# Business Intelligence projects
*.rdl.data
*.bim.layout
*.bim_*.settings
*.rptproj.rsuser
*- Backup*.rdl

# Microsoft Fakes
FakesAssemblies/

# GhostDoc plugin setting file
*.GhostDoc.xml

# Node.js Tools for Visual Studio
.ntvs_analysis.dat
node_modules/

# Visual Studio 6 build log
*.plg

# Visual Studio 6 workspace options file
*.opt

# Visual Studio 6 auto-generated workspace file (contains which files were open etc.)
*.vbw

# Visual Studio LightSwitch build output
**/*.HTMLClient/GeneratedArtifacts
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
_Pvt_Extensions

# Paket dependency manager
.paket/paket.exe
paket-files/

# FAKE - F# Make
.fake/

# JetBrains Rider
.idea/
*.sln.iml

# CodeRush personal settings
.cr/personal

# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc

# Cake - Uncomment if you are using it
# tools/**
# !tools/packages.config

# Tabs Studio
*.tss

# Telerik's JustMock configuration file
*.jmconfig

# BizTalk build output
*.btp.cs
*.btm.cs
*.odx.cs
*.xsd.cs

# OpenCover UI analysis results
OpenCover/

# Azure Stream Analytics local run output
ASALocalRun/

# MSBuild Binary and Structured Log
*.binlog

# NVidia Nsight GPU debugger configuration file
*.nvuser

# MFractors (Xamarin productivity tool) working folder
.mfractor/

# Local History for Visual Studio
.localhistory/

# BeatPulse healthcheck temp database
healthchecksdb

/DesktopModules/Vanjaro/UXManager/Extensions/Menu/MemberProfile/menu-memberprofile-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Migrate/migrate-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Migrate/Vanjaro.zip
/DesktopModules/Vanjaro/Core/Library/Packager/DNN Install
/DesktopModules/Vanjaro/Core/Library/Packager/DNN Upgrade
/DesktopModules/Vanjaro/Core/Library/Packager/Releases
/DesktopModules/Vanjaro/UXManager/Library/Resources/package-lock.json
/DesktopModules/Vanjaro/UXManager/Library/Resources/Scripts/uxmanager.min.js
/DesktopModules/Vanjaro/UXManager/Library/Resources/Scripts/uxmanager.min.js.map
/DesktopModules/Vanjaro/Core/Library/Install/Common.01.00.01.SqlDataProvider
/DesktopModules/Vanjaro/Core/Library/Install/Uninstall.Migrate.SqlDataProvider
/DesktopModules/Vanjaro/Core/Library/Install/Uninstall.Common.SqlDataProvider
/DesktopModules/Vanjaro/URLManager/url-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Apps/SectionSettings/apps-sectionsettings-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Menu/GoogleReCaptcha/menu-integrations-googlerecaptcha-resources.zip
/DesktopModules/Vanjaro/UXManager/Extensions/Menu/Memberships/menu-memberships-resources.zip
