<div ng-controller="setting_choosetemplate" class="vj-ux-manager" access-roles="admin,edit">
    <uiengine provider="AngularBootstrap" identifier="setting_choosetemplate" class="uiengine-wrapper scrollbar">
        <!--Start page details template-->
        <uilayout name="default" attr-ng-show="!Show_Tab">
            <uitemplate>
                <div class="CreateNewPage">
                    <div class="text-center addpage-header">[L:Layouts]</div>
                    <div class="p-sm">
                        <div class="row text-center">                            
                            <div class="col-sm-2" mn-ng-repeat="option in ui.data.PageLayouts.Options">
                                <div class="addpage-blocks dropdown pull-right dropbtn">                                                                          
                                    <div mn-ng-click="Click_ChooseLayout(option.Type,option)">
                                        <div class="addpage-icon" mn-ng-bind-html="option.SVG | unsafe"></div>
                                        <h6 class="addpage-icon-text mt-md mb-xs">{{option.Name}}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                   
                </div>
            </uitemplate>
        </uilayout>       
    </uiengine>
</div>

