<div ng-controller="setting_recyclebin" class="vj-ux-manager Menu-Pages">
    <uiengine provider="AngularBootstrap" identifier="setting_recyclebin">        
        <uilayout name="default">            
            <uielement name="DeletedPages" control="grid" label="false" paged="true" displayedpages="5" pagesize="10" attr-class="table-responsive table-grid deletedpages" container-attr-ng-show="ui.data.DeletedPages.Options.length >0">
                <column name="TabName">
                    <uitemplate>
                        <div>
                            <span>{{row.TabName}}</span>
                            <div class="dropdown float-right dropbtn">
                                <a id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <em class="fas fa-ellipsis-v"></em>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item box-icon" ng-click="Restore_Pages(row,$event)"><em class="fas fa-redo mr-xs"></em><span>[LS:Restore]</span></a>
                                    <a class="dropdown-item box-icon" ng-click="Remove_Pages(row,$event)"><em class="fas fa-trash mr-xs"></em><span>[LS:Delete]</span></a>
                                </div>
                            </div>
                        </div>
                    </uitemplate>
                </column>
            </uielement>
        </uilayout>
    </uiengine>
</div>
