<div ng-controller="setting_choosetemplate" class="vj-ux-manager">
    <uiengine provider="AngularBootstrap" identifier="setting_choosetemplate" class="uiengine-wrapper scrollbar">
        <uilayout name="default">
            <uitemplate>
                <a ng-click="Click_ContinueDefault()">[L:ContinueDefault]</a>
                <img class="loader" alt="Loading" src="{{VjDefaultPath}}" />
                <iframe id="FrameUrl" frameborder="0" width="100%" scrolling="no"></iframe>
            </uitemplate>
        </uilayout>
    </uiengine>
</div>