<div ng-controller="setting_choosetemplate" class="vj-ux-manager">
    <uiengine provider="AngularBootstrap" identifier="setting_choosetemplate" class="uiengine-wrapper scrollbar">
        <uilayout name="default">
            <uitemplate>
                <a ng-click="Click_ContinueDefault()" class="defaultdesign-hidden" style="color: #fff !important; background-color: #0088cc; border-radius: 0; padding: 12px 24px; font-size: 14px; font-weight: 500; text-transform: uppercase;position: absolute;right: 45px;font-family: Poppins, sans-serif;cursor:pointer;">[L:ContinueDefault]</a>
                <img class="loader" alt="Loading" src="{{VjDefaultPath}}" />
                <iframe id="FrameUrl" frameborder="0" width="100%" scrolling="no"></iframe>
            </uitemplate>
        </uilayout>
    </uiengine>
</div>