<div ng-controller="setting_choosetemplate" class="vj-ux-manager">
    <uiengine provider="AngularBootstrap" identifier="setting_choosetemplate" class="uiengine-wrapper scrollbar">
        <uilayout name="default">
            <uitemplate>
                <select class="form-control defaultdesign-hidden" style="width:200px!important;position:absolute;right:305px;-webkit-appearance:auto;-moz-appearance:auto;appearance:auto;height: 45px;margin-top: 2px;" mn-ng-model="ui.data.Themes.Value" mn-ng-change="ChangeTheme()">
                    <option mn-ng-repeat="option in ui.data.Themes.Options" value="{{option.GUID}}">{{option.Name}}</option>
                </select>
                <a ng-click="Click_ContinueDefault()" class="defaultdesign-hidden" style="color: #fff !important; background-color: #0088cc; border-radius: 0; padding: 12px 24px; font-size: 14px; font-weight: 500; text-transform: uppercase;position: absolute;right: 45px;font-family: Poppins, sans-serif;cursor:pointer;">[L:ContinueDefault]</a>
                <img class="loader" alt="Loading" src="{{VjDefaultPath}}" />
                <iframe id="FrameUrl" frameborder="0" width="100%" scrolling="yes"></iframe>
            </uitemplate>
        </uilayout>
    </uiengine>
</div>