<div ng-controller="settings_permission" class="vj-ux-manager">
    <uiengine provider="AngularBootstrap" identifier="settings_permission" layout="dashboard">
        <uilayout name="default">
            <uielement name="Permissions" control="Permissiongrid" label="false"></uielement>
        </uilayout>
        <uilayout name="default">
            <uitemplate>
                <div class="text-right fixed-footer">
                    <button type="button" ng-click="Click_Save()" class="btn btn-sm btn-primary">
                        [L:Update]
                    </button>
                </div>
            </uitemplate>
        </uilayout>
    </uiengine>
</div>