<div ng-controller="setting_login" class="vj-ux-manager" ng-show="Loaded">
    <uiengine provider="AngularBootstrap" identifier="setting_login" class="uiengine-wrapper scrollbar">
        <uilayout name="default">
            <uielement name="Global" label="false" control="checkboxtoggle" attr-class="global text-center"></uielement>
            <uitemplate>
                <div access-roles="admin" mn-ng-show="ui.data.IsAdmin.Value && ui.data.Global.Value" class="vj-alert alert alert-warning" role="alert">
                    [L:IsAdminAlert]
                </div>
                <div access-roles="editpage" mn-ng-show="!ui.data.IsAdmin.Value && ui.data.Global.Value" class="vj-alert alert alert-info" role="alert">
                    [L:IsPageAdminAlert]
                </div>
            </uitemplate>
        </uilayout>
        <uilayout name="default" attr-ng-show="(ui.data.IsAdmin.Value||!ui.data.IsAdmin.Value && !ui.data.Global.Value)">
            <uielement name="ShowRememberPassword" attr-class="toggle_right" control="toggle"></uielement>
            <uielement name="ShowLabel" attr-class="toggle_right" control="toggle"></uielement>
            <uielement name="ShowRegister" attr-class="toggle_right" control="toggle"></uielement>
            <uielement name="ShowResetPassword" attr-class="toggle_right" control="toggle"></uielement>
            <!--<uielement name="ResetPassword" attr-class="toggle_right" container-attr-ng-show="ui.data.ShowResetPassword.Value" control="toggle"></uielement>-->
            <uitemplate>
                <div class="form-group" style="margin-bottom: 26px;">
                    <label>[L:ButtonAlign]</label>
                    <div class="btn-group buttonalign" role="group" aria-label="Basic example">
                        <button type="button" id="left" mn-ng-click="ui.data.ButtonAlign.Value = 'left'" mn-ng-class="ui.data.ButtonAlign.Value == 'left'? 'btn btn-secondary active' :'btn btn-secondary'"><em class="fas fa-align-left"></em></button>
                        <button type="button" id="center" mn-ng-click="ui.data.ButtonAlign.Value = 'center'" mn-ng-class="ui.data.ButtonAlign.Value == 'center'? 'btn btn-secondary active' :'btn btn-secondary'"><em class="fas fa-align-center"></em></button>
                        <button type="button" id="right" mn-ng-click="ui.data.ButtonAlign.Value = 'right'" mn-ng-class="ui.data.ButtonAlign.Value == 'right'? 'btn btn-secondary active' :'btn btn-secondary'"><em class="fas fa-align-right"></em></button>
                        <button type="button" id="justify" mn-ng-click="ui.data.ButtonAlign.Value='justify'" mn-ng-class="ui.data.ButtonAlign.Value == 'justify'? 'btn btn-secondary active' :'btn btn-secondary'"><em class="fas fa-align-justify"></em></button>
                    </div>
                </div>
            </uitemplate>
            <uielement name="ShowGoogleReCaptcha" attr-class="toggle_right" control="toggle"></uielement>
        </uilayout>
    </uiengine>
</div>