<div ng-controller="setting_changepassword" class="vj-ux-manager">
    <uiengine provider="AngularBootstrap" identifier="setting_changepassword" class="uiengine-wrapper adduser scrollbar">
        <uilayout name="default">
            <uielement name="NewPassword" attr-placeholder="[L:Enternewpassword]" control="password" attr-ng-model="ui.data.ChangePasswordTemplate.Options.password" attr-required="true"></uielement>
            <uielement name="ConfirmPassword" attr-placeholder="[L:Confirmpwd]" control="password" attr-ng-model="ConfirmPassword" attr-required="true"></uielement>
            <uitemplate>
                <div class="text-right fixed-footer">
                    <button attr-id="change" type="button" mn-ng-click="Click_Change('change',ConfirmPassword)" class="btn btn-sm btn-primary">
                        [L:Update]
                    </button>
                </div>
            </uitemplate>
        </uilayout>
    </uiengine>
</div>



