<div ng-controller="setting_updateprofile" class="vj-ux-manager user-info">
    <uiengine provider="AngularBootstrap" identifier="setting_updateprofile" layout="usersdetail">
        <uilayout name="default" attr-ng-show="ShowUser_profileTab" attr-class="Gravitar" attr-style="display:none;">
            <uitemplate>
                <div class="logoBox">
                    <img id="uploaded_image" src="{{ui.data.UserDetails.Options.avatar}}">
                    <span class="user_name">{{ui.data.UserDetails.Options.displayName}}</span>
                </div>
            </uitemplate>
        </uilayout>

        <uilayout name="default">
            <uitemplate>
                <div class="row">
                    <div class="col-md-3">
                        [uilayout:TabsNavigation]
                    </div>
                    <div class="col-md-9 left_border uiengine-wrapper scrollbar">                        
                        [uilayout:TabsContentProfile]
                    </div>
                </div>
            </uitemplate>
        </uilayout>

        <uilayout name="TabsNavigation" attr-class="tab-pane">
            <uitemplate>
                <ul class="nav nav-pills nav-stacked tab-line">
                    <li id="User_profile" mn-ng-show="ui.data.ProfilePropertiesByCategories.Options.length>0" access-roles="admin,user,anonymous" class="nav-item"><a class="nav-link" mn-ng-click="Click_ShowTab('User_profile')">[L:Profile]</a></li>
                </ul>
            </uitemplate>
        </uilayout>

        <!--Profile-->
        <uilayout name="TabsContentProfile" attr-ng-show="ShowUser_profileTab">
            <uitemplate>
                <div class="vj-alert-message"></div>
                <div id="accordion">
                    <div mn-ng-repeat="cname in ui.data.ProfilePropertiesByCategories.Options" class="card">
                        <div class="card-header">
                            <a class="card-link" href="javascript:;" data-toggle="collapse" data-target="#collapse_{{cname.Key| removeSpacesThenLowercase}}">
                                {{cname.Value}}
                                <em mn-ng-class="$index != 0  ? 'fa fa-caret-right float-end' : 'fa fa-caret-down float-end'"></em>
                            </a>
                        </div>
                        <div id="collapse_{{cname.Key| removeSpacesThenLowercase}}" mn-ng-class="$index != 0 ? 'collapse':'collapse show'" data-parent="#accordion">
                            <div class="card-body">
                                <div mn-ng-repeat="option in ui.data.ProfileProperties.Options">
                                    <div class="form-group" data-datatype="textbox" data-label="{{option.ProfilePropertyDefinition.PropertyName}}" data-name="{{option.ProfilePropertyDefinition.PropertyName}}" mn-ng-if="(option.ProfilePropertyDefinition.Visible && !option.ProfilePropertyDefinition.ReadOnly)&&(option.ControlType== 'Text'|| option.ControlType== 'Unknown')&& option.ProfilePropertyDefinition.PropertyCategory==cname.Key">
                                        <label class="" for="setting_setting1textbox1_{{option.ProfilePropertyDefinition.PropertyName}}" data-toggle="tooltip" title="" data-original-title="{{option.PropertyHelpString}}">{{option.PropertyNameString}}</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control control-background ng-pristine ng-untouched ng-valid ng-valid-required" id="setting_setting1textbox1_{{option.ProfilePropertyDefinition.PropertyName}}" mn-ng-model="option.ProfilePropertyDefinition.PropertyValue" aria-describedby="setting_setting1textbox1_{{option.ProfilePropertyDefinition.PropertyName}}-addon" maxlength="{{option.ProfilePropertyDefinition.Length}}">
                                        </div>
                                        <span id="setting_setting1textbox1_{{option.ProfilePropertyDefinition.PropertyName}}-addon" class="help-block"></span>
                                    </div>

                                    <div class="form-group" data-datatype="dropdownlist" data-label="{{option.ProfilePropertyDefinition.PropertyName}}" data-name="{{option.ProfilePropertyDefinition.PropertyName}}" mn-ng-if="(option.ProfilePropertyDefinition.Visible && !option.ProfilePropertyDefinition.ReadOnly)&&option.ControlType== 'Country'&& option.ProfilePropertyDefinition.PropertyCategory==cname.Key">
                                        <label class="" for="setting_setting1dropdownlist1_{{option.ProfilePropertyDefinition.PropertyName}}" data-toggle="tooltip" title="" data-original-title="{{option.PropertyHelpString}}">{{option.PropertyNameString}}</label>
                                        <div class="input-group">
                                            <select class="form-control ng-pristine ng-valid ng-touched" mn-ng-options="country.Id as country.FullName for country in ui.data.Countries.Options" mn-ng-model="option.ProfilePropertyDefinition.PropertyValue" mn-ng-change="Change_Country(option.ProfilePropertyDefinition,'true')"></select>
                                        </div>
                                    </div>

                                    <div class="form-group" data-datatype="dropdownlist" data-label="{{option.ProfilePropertyDefinition.PropertyName}}" data-name="{{option.ProfilePropertyDefinition.PropertyName}}" mn-ng-if="(option.ProfilePropertyDefinition.Visible && !option.ProfilePropertyDefinition.ReadOnly)&&option.ControlType == 'Region'&& option.ProfilePropertyDefinition.PropertyCategory==cname.Key">
                                        <label class="" for="setting_setting1dropdownlist1_{{option.ProfilePropertyDefinition.PropertyName}}" data-toggle="tooltip" title="" data-original-title="{{option.PropertyHelpString}}">{{option.PropertyNameString}}</label>
                                        <div class="input-group">
                                            <select class="form-control ng-pristine ng-valid ng-touched {{option.ControlType}}" mn-ng-options="region.Value as region.Text for region in Regions" mn-ng-model="option.ProfilePropertyDefinition.PropertyValue"></select>
                                        </div>
                                    </div>

                                    <div class="form-group" data-datatype="dropdownlist" data-label="{{option.ProfilePropertyDefinition.PropertyName}}" data-name="{{option.ProfilePropertyDefinition.PropertyName}}" mn-ng-if="(option.ProfilePropertyDefinition.Visible && !option.ProfilePropertyDefinition.ReadOnly)&&(option.ControlType == 'TimeZoneInfo'||option.ControlType=='TimeZone')&& option.ProfilePropertyDefinition.PropertyCategory==cname.Key">
                                        <label class="" for="setting_setting1dropdownlist1_{{option.ProfilePropertyDefinition.PropertyName}}" data-toggle="tooltip" title="" data-original-title="{{option.PropertyHelpString}}">{{option.PropertyNameString}}</label>
                                        <div class="input-group">
                                            <select class="form-control ng-pristine ng-valid ng-touched" mn-ng-model="option.ProfilePropertyDefinition.PropertyValue">
                                                <option mn-ng-repeat="x in ui.data.Time_Zones.Options" value="{{x.Id}}">{{x.DisplayName}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group" data-datatype="dropdownlist" data-label="{{option.ProfilePropertyDefinition.PropertyName}}" data-name="{{option.ProfilePropertyDefinition.PropertyName}}" mn-ng-if="(option.ProfilePropertyDefinition.Visible && !option.ProfilePropertyDefinition.ReadOnly)&&option.ControlType == 'Locale'&& option.ProfilePropertyDefinition.PropertyCategory==cname.Key">
                                        <label class="" for="setting_setting1dropdownlist1_{{option.ProfilePropertyDefinition.PropertyName}}" data-toggle="tooltip" title="" data-original-title="{{option.PropertyHelpString}}">{{option.PropertyNameString}}</label>
                                        <div class="input-group">
                                            <select class="form-control ng-pristine ng-valid ng-touched" mn-ng-model="option.ProfilePropertyDefinition.PropertyValue">
                                                <option mn-ng-repeat="x in ui.data.Active_Locales.Options" value="{{x.Code}}">{{x.Text}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group" data-datatype="textarea" data-label="{{option.ProfilePropertyDefinition.PropertyName}}" data-name="{{option.ProfilePropertyDefinition.PropertyName}}" mn-ng-if="(option.ProfilePropertyDefinition.Visible && !option.ProfilePropertyDefinition.ReadOnly)&&option.ControlType == 'Multi-line Text'&& option.ProfilePropertyDefinition.PropertyCategory==cname.Key">
                                        <label class="" for="setting_setting1textarea2_{{option.ProfilePropertyDefinition.PropertyName}}" data-toggle="tooltip" title="" data-original-title="{{option.PropertyHelpString}}">{{option.PropertyNameString}}</label>
                                        <textarea class="form-control ng-pristine ng-untouched ng-valid" id="setting_setting1textarea2_{{option.ProfilePropertyDefinition.PropertyName}}" rows="4" mn-ng-model="option.ProfilePropertyDefinition.PropertyValue" maxlength="{{option.ProfilePropertyDefinition.Length}}"></textarea>
                                    </div>

                                    <!--Start Checkbox and TrueFalse-->
                                    <div class="form-group" data-datatype="toggle" data-label="{{option.ProfilePropertyDefinition.PropertyName}}" data-name="{{option.ProfilePropertyDefinition.PropertyName}}" mn-ng-if="(option.ProfilePropertyDefinition.Visible && !option.ProfilePropertyDefinition.ReadOnly)&&(option.ControlType == 'TrueFalse'||option.ControlType == 'Checkbox')&& option.ProfilePropertyDefinition.PropertyCategory==cname.Key">
                                        <label class="" for="setting_setting1toggle1_{{option.ProfilePropertyDefinition.PropertyName}}" data-toggle="tooltip" title="" data-original-title="{{option.PropertyHelpString}}">{{option.PropertyNameString}}</label>
                                        <div class="btn-group truefalse" role="group" aria-label="...">
                                            <button type="button" class="btn " ng-click="option.ProfilePropertyDefinition.PropertyValue = !option.ProfilePropertyDefinition.PropertyValue" ng-class="option.ProfilePropertyDefinition.PropertyValue ? 'btn-primary active' : 'btn-default'">[L:ToggleYes]</button>
                                            <button type="button" class="btn " ng-click="option.ProfilePropertyDefinition.PropertyValue = !option.ProfilePropertyDefinition.PropertyValue" ng-class="!option.ProfilePropertyDefinition.PropertyValue ? 'btn-primary disabled' : 'btn-default'">[L:ToggleNo]</button>
                                        </div>
                                    </div>
                                    <!--End Checkbox and TrueFalse-->
                                    <!--Start List-->
                                    <div class="form-group" data-datatype="dropdownlist" data-label="{{option.ProfilePropertyDefinition.PropertyName}}" data-name="{{option.ProfilePropertyDefinition.PropertyName}}" mn-ng-if="(option.ProfilePropertyDefinition.Visible && !option.ProfilePropertyDefinition.ReadOnly)&&option.ControlType == 'List'&& option.ProfilePropertyDefinition.PropertyCategory==cname.Key">
                                        <label class="" for="setting_setting1dropdownlist1_{{option.ProfilePropertyDefinition.PropertyName}}" data-toggle="tooltip" title="" data-original-title="{{option.PropertyHelpString}}">{{option.PropertyNameString}}</label>
                                        <div class="input-group">
                                            <select class="form-control ng-pristine ng-valid ng-touched" mn-ng-model="option.ProfilePropertyDefinition.PropertyValue">
                                                <option mn-ng-repeat="x in option.ListEntries" ng-selected="option.ProfilePropertyDefinition.PropertyValue==x.Value" value="{{x.Value}}">{{x.Text}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!--End List-->
                                    <!--Start Integer-->
                                    <div class="form-group" data-datatype="integer" data-label="{{option.ProfilePropertyDefinition.PropertyName}}" data-name="{{option.ProfilePropertyDefinition.PropertyName}}" mn-ng-if="(option.ProfilePropertyDefinition.Visible && !option.ProfilePropertyDefinition.ReadOnly)&&option.ControlType == 'Integer'&& option.ProfilePropertyDefinition.PropertyCategory==cname.Key">
                                        <label class="" for="setting_setting1integer1_{{option.ProfilePropertyDefinition.PropertyName}}" data-toggle="tooltip" title="" data-original-title="{{option.PropertyHelpString}}">{{option.PropertyNameString}}</label>
                                        <div class="input-group">
                                            <input type="number" class="form-control ng-pristine ng-invalid ng-valid-min ng-invalid-required ng-touched" id="setting_setting1integer1_{{option.ProfilePropertyDefinition.PropertyName}}" mn-ng-model="option.ProfilePropertyDefinition.PropertyValue">
                                        </div>
                                    </div>
                                    <!--End Integer-->
                                    <!--Start Date-->
                                    <div class="form-group {{option.ControlType}}" data-datatype="date" data-label="{{option.ProfilePropertyDefinition.PropertyName}}" data-name="{{option.ProfilePropertyDefinition.PropertyName}}" mn-ng-if="(option.ProfilePropertyDefinition.Visible && !option.ProfilePropertyDefinition.ReadOnly)&&(option.ControlType == 'Date' || option.ControlType == 'DateTime')&& option.ProfilePropertyDefinition.PropertyCategory==cname.Key">
                                        <label class="" for="setting_setting1date1_{{option.ProfilePropertyDefinition.PropertyName}}" data-toggle="tooltip" title="" data-original-title="{{option.PropertyHelpString}}">{{option.PropertyNameString}}</label>
                                        <div class="input-group date_picker font-datetime">
                                            <input type="text" class="form-control {{option.ControlType}}" placeholder="&#xf073;" mn-ng-model="option.ProfilePropertyDefinition.PropertyValue" value="{{row.startTime}}">
                                        </div>
                                    </div>
                                    <!--End Date-->
                                    <!--Start RichText-->
                                    <div class="form-group {{option.ControlType}}" data-datatype="{{option.ControlType}}" data-label="{{option.ProfilePropertyDefinition.PropertyName}}" data-name="{{option.ProfilePropertyDefinition.PropertyName}}" mn-ng-if="(option.ProfilePropertyDefinition.Visible && !option.ProfilePropertyDefinition.ReadOnly)&&(option.ControlType == 'RichText'&& option.ProfilePropertyDefinition.PropertyCategory==cname.Key)">
                                        [uilayout:ControlRichText]
                                    </div>
                                    <!--End RichText-->
                                    <!--Start label control-->
                                    <div class="form-group {{option.ControlType}}" data-datatype="integer" data-label="{{option.ProfilePropertyDefinition.PropertyName}}" data-name="{{option.ProfilePropertyDefinition.PropertyName}}" mn-ng-if="(option.ProfilePropertyDefinition.Visible && option.ProfilePropertyDefinition.ReadOnly)&& option.ProfilePropertyDefinition.PropertyCategory==cname.Key">
                                        <label class="" for="setting_setting1integer1_{{option.ProfilePropertyDefinition.PropertyName}}" data-toggle="tooltip" title="" data-original-title="{{option.PropertyHelpString}}">{{option.PropertyNameString}}</label>
                                        <div class="input-group date_picker font-datetime">
                                            <div mn-ng-bind-html="Parse(option)"></div>
                                        </div>
                                    </div>
                                    <!--End label control-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </uitemplate>
        </uilayout>
        <uilayout name="ControlRichText">
            <uitemplate>
                <label class="richtextlabel" for="setting_setting1RichText1_{{option.ProfilePropertyDefinition.PropertyName}}" data-toggle="tooltip" data-original-title="{{option.PropertyHelpString}}">{{option.PropertyNameString}}</label>
            </uitemplate>
            <uielement name="RichText" attr-class="editorcontrol" attr-ng-model="option.ProfilePropertyDefinition.PropertyValue" control="texteditor" profile="Minimal"></uielement>
        </uilayout>
        <!--Profile-->
        <uilayout name="default">
            <uitemplate>
                <div mn-ng-bind-html="OnLoaded()"></div>
                <div class="text-end fixed-footer">
                    <button attr-id="update" type="button" mn-ng-click="Click_Update('update',ui.data.UserDetails.Options)" class="btn btn-sm btn-primary">
                        [L:Update]
                    </button>
                </div>
            </uitemplate>
        </uilayout>
    </uiengine>
</div>
