<div ng-controller="setting_users" class="vj-ux-manager ux-extension extn-users Menu-User">
    <uiengine provider="AngularBootstrap" identifier="setting_users" layout="Users">
        <uilayout name="Heading">
            <uitemplate>
                <div class="row">
                    <div class="col-7 extback pr-none">
                        <a ng-click="Click_Back()" title="[L:Back]" class="ux-backbtn">
                            <span class="extbackicon">
                                <em class="fas fa-chevron-left"></em>
                            </span>
                            <span class="extname">{{HeaderText}}</span>
                        </a>
                    </div>
                    <div class="col-5 pl-none" access-roles="admin">
                        <a href="#" title="[L:AddUser]" onclick="parent.OpenPopUp(event, 450,'right', '[L:AddUser]', '#adduser')" class="ux-btn ux-btn-hover float-end adduser" mn-ng-hide="Show_RecycleBin">
                            <em class="fas fa-plus"></em>
                        </a>
                        <a class="ux-btn ux-btn-hover float-end" mn-ng-click="Remove_Users()" title="[L:DeleteAllUsers]" mn-ng-show="Show_RecycleBin">
                            <em class="fas fa-eraser"></em>
                        </a>
                        <div class="user-group dropdown float-end" mn-ng-show="!Show_RecycleBin">
                            <div class="dropdown-menu">
                                <div class="dropdown-item" mn-ng-click="Change_UserFilter(option)" mn-ng-repeat="option in ui.data.UserFilters.Options" ng-class="{'active':(ui.data.Select_UserFilters.Options.Value==option.Value)}">
                                    <hr class="m-none" mn-ng-if="option.Value == 3" />
                                    <span mn-ng-if="option.Value==1">[L:DeAuthorized]</span>
                                    <span mn-ng-if="option.Value!=1">{{option.Key}}</span>
                                </div>
                            </div>
                            <a href="#" class="ux-btn ux-btn-hover float-end dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <em class="fas fa-filter"></em>
                            </a>
                        </div>
                        <a class="ux-btn ux-btn-hover float-end" mn-ng-click="Open_MemberProfile()" title="[L:MemberProfileSettings]" mn-ng-show="!Show_RecycleBin">
                            <em class="fas fa-user-tag"></em>
                        </a>
                    </div>
                </div>
            </uitemplate>
        </uilayout>
        <uilayout name="default" attr-ng-hide="Show_RecycleBin">
            <uitemplate>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a href="#" mn-ng-hide="Show_RecycleBin || !ui.data.DeletedUsers.Value" ng-click="Show_RecycleBin =!(Show_RecycleBin);HeaderText='[L:RecycleBin]'" class="badge badge-button position-relative" title="[L:RecycleBin]">
                            <span class="title">[L:Deleted]</span>
                            <span class="badge badge-button-inverse float-end">{{ui.data.DeletedUsers.Value}}</span>
                        </a>
                    </div>
                </div>
            </uitemplate>
            <uielement name="AllUsers" control="grid" paged="true" search="true" label="false" pagesize="15" attr-pagesize="15" attr-class="table-responsive table-grid usertable" attr-st-pipe="Pipe_AllUserPagging">
                <column name="UserName" width="18" attr-style="padding:0;">
                    <uitemplate>
                        <img class="img-responsive " src="{{row.avatar}}">
                    </uitemplate>
                </column>
                <column name="Name" width="67">
                    <uitemplate>
                        <div class="vanjaro-users">
                            <span ng-if="row.isDeleted" class="username deletedUser">{{row.displayName}}<strong mn-ng-hide="row.userName==row.email"> ({{row.userName}})</strong></span>
                            <span ng-if="!row.isDeleted" class="username">{{row.displayName}}<strong mn-ng-hide="row.userName==row.email"> ({{row.userName}})</strong></span>
                            <div class="fontsmall">{{row.email}}</div>
                        </div>
                    </uitemplate>
                </column>
                <column name="Action" attr-style="text-align: right" width="15">
                    <uitemplate>
                        <div class="dropdown float-end dropbtn">
                            <a id="dropdownMenuLink" class="dropdownmenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <em class="fas fa-ellipsis-v"></em>
                            </a>
                            <div ng-if="!row.isDeleted" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item box-icon" mn-ng-click="Click_UserSettings(row)"><em class="fas fa-cog"></em><span>[L:UserSettings]</span></a>
                                <a mn-ng-show="ui.data.CurrentUserId.Value != row.userId" mn-ng-click="Click_LoginAs(row.userId)" class="dropdown-item box-icon"><em class="fas fa-sign-in-alt"></em><span>[L:LogInAs]</span></a>
                                <hr class="m-none" access-roles="admin">
                                <a mn-ng-click="Click_ManagePassword(row)" access-roles="admin" class="dropdown-item box-icon"><em class="fas fa-lock"></em><span>[L:ChangePassword]</span></a>
                                <a mn-ng-click="Click_ForceChangePassword(row)" access-roles="admin" class="dropdown-item box-icon"><em class="fas fa-wrench"></em><span>[L:ForcePasswordChange]</span></a>
                                <a mn-ng-click="Click_SendPasswordResetLink(row)" access-roles="admin" class="dropdown-item box-icon"><em class="fas fa-paper-plane"></em><span>[L:SendPasswordResetLink]</span></a>
                                <hr class="m-none" mn-ng-show="!row.isSuperUser" access-roles="admin">
                                <a mn-ng-show="row.authorized && ui.data.CurrentUserId.Value != row.userId" mn-ng-click="Click_UpdateAuthorizeStatus(row)" class="dropdown-item box-icon"><em class="fas fa-user"></em><span>[L:UnAuthorizeUser]</span></a>
                                <a mn-ng-show="!row.authorized && ui.data.CurrentUserId.Value != row.userId" mn-ng-click="Click_UpdateAuthorizeStatus(row)" class="dropdown-item box-icon"><em class="fas fa-user"></em><span>[L:AuthorizeUser]</span></a>
                                <a mn-ng-show="!row.isDeleted && ui.data.CurrentUserId.Value != row.userId" mn-ng-click="Click_SoftDelete(row)" class="dropdown-item box-icon"><em class="fas fa-trash"></em><span>[L:Delete]</span></a>
                                <a mn-ng-show="row.isDeleted && ui.data.CurrentUserId.Value != row.userId" mn-ng-click="Click_HardDelete(row)" class="dropdown-item box-icon"><em class="fas fa-times"></em><span>[L:Remove]</span></a>
                                <a mn-ng-show="row.isDeleted && ui.data.CurrentUserId.Value != row.userId" mn-ng-click="Click_Restore(row)" class="dropdown-item box-icon"><em class="fas fa-redo"></em><span>[L:RestoreUser]</span></a>
                                <hr class="m-none" mn-ng-show="!row.isSuperUser" access-roles="admin">
                                <a mn-ng-show="!row.isSuperUser && ui.data.CurrentUserId.Value != row.userId" mn-ng-click="Click_UpdateSuperUserStatus(row)" class="dropdown-item box-icon"><em class="far fa-star"></em><span>[L:MakeSuperUser]</span></a>
                                <a mn-ng-show="row.isSuperUser && ui.data.CurrentUserId.Value != row.userId" mn-ng-click="Click_UpdateSuperUserStatus(row)" class="dropdown-item box-icon"><em class="fas fa-star"></em><span>[L:MakeRegularUser]</span></a>
                            </div>

                            <div ng-if="row.isDeleted" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item box-icon" ng-click="Restore_User(row)"><em class="fas fa-redo"></em><span>[L:Restore]</span></a>
                                <hr class="m-none">
                                <a class="dropdown-item box-icon" ng-click="Remove_User(row)"><em class="fas fa-trash"></em><span>[L:RemoveUser]</span></a>
                            </div>
                        </div>
                    </uitemplate>
                </column>
            </uielement>
            <uitemplate>
                <div class="search-info-msg" mn-ng-show="ui.data.AllUsers.Options.length<=0">[LS:UserNotAvailable]</div>
            </uitemplate>
        </uilayout>
        <uilayout name="default" attr-ng-show="Show_RecycleBin">
            <uielement name="DeletedUsers" ngoptions="DeletedUsers" control="grid" label="false" search="true" paged="true" pagesize="10" attr-pagesize="10" attr-class="table-responsive table-grid deletedusers usertable" attr-st-pipe="Pipe_DeletedUserPagging">
                <column name="UserName" width="15" attr-style="padding:0;">
                    <uitemplate>
                        <img class="img-responsive deleteuserimg" src="{{row.Avatar}}">
                    </uitemplate>
                </column>
                <column name="UserName" width="65">
                    <uitemplate>
                        <div>
                            <div class="vanjaro-users">
                                <span>{{row.DisplayName}}<strong mn-ng-hide="row.userName==row.email"> ({{row.Username}})</strong></span>
                                <div class="fontsmall">{{row.Email}}</div>
                                <div class="small-text dateinfo">{{row.LastModifiedOnDate}}</div>
                            </div>
                        </div>
                    </uitemplate>
                </column>
                <column name="Action" attr-style="text-align: right" width="20">
                    <uitemplate>
                        <div class="dropdown show float-end dropbtn">
                            <a id="dropdownMenuLink" class="dropdownmenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <em class="fas fa-ellipsis-v"></em>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item box-icon" ng-click="Restore_User(row)"><em class="fas fa-redo"></em><span>[L:Restore]</span></a>
                                <hr class="m-none">
                                <a class="dropdown-item box-icon" ng-click="Remove_User(row)"><em class="fas fa-trash"></em><span>[L:RemoveUser]</span></a>
                            </div>
                        </div>
                    </uitemplate>
                </column>
            </uielement>
            <uitemplate>
                <div class="search-info-msg" mn-ng-show="DeletedUsers.length<=0">[LS:UserNotAvailable]</div>
            </uitemplate>
        </uilayout>
    </uiengine>
</div>
<style>
    body {
        background: #e6e9ec;
    }
</style>