<div ng-controller="notification_notifications" class="vj-ux-manager">
    <uiengine provider="AngularBootstrap" identifier="notification_notifications" layout="admin">
        <uilayout name="default">
            <uitemplate>
                <a class="ux-btn ux-btn-hover" style="float: right;" ng-hide="Notifications.length <= 0" role="button" mn-ng-click="Click_DismissAll()" access-roles="host" title="[L:DismissAll]"><em class="fas fa-eraser "></em></a>
            </uitemplate>
            <uielement name="Notifications" control="grid" label="false" attr-ng-hide="Notifications.length <= 0" attr-class="table-grid Notifications GrayTh" ngoptions="Notifications" pagesize="10" paged="true" displayedpages="5" attr-st-pipe="Pipe_NotificationsPages">
                <column name="UserName" width="100" attr-style="padding:0;">
                    <uitemplate>
                        <div class="senderdetail">
                            <div class="row m-none">
                                <div class="senderavatar">
                                    <img class="img-responsive " src="{{row.SenderAvatar}}">
                                </div>
                                <div class="senderinfo">
                                    <span class="author_name author_sub pt-sm">{{row.Subject}}</span>
                                    <div class="author_name"><span class="fontsmall senderdisplayname">{{row.SenderDisplayName}}</span></div>
                                </div>
                            </div>
                            <div class="row m-none">
                                <div class="col-12 p-0 userinfo">
                                    <div class="vanjaro-users">
                                        <div class="fontsmall display-date">{{row.DisplayDate}}</div>
                                        <div class="fontsmall" ng-bind-html="to_trusted(row.Body)"></div><a class="float-right dismiss-action" mn-ng-click="Click_Dismiss(row)">[L:Dismiss]</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uitemplate>
                </column>
            </uielement>
            <uitemplate>
                <div class="search-info-msg" mn-ng-show="Notifications.length <= 0">[LS:NotificationNotFound]</div>
            </uitemplate>
        </uilayout>
    </uiengine>
</div>



