<div ng-controller="setting_add" class="vj-ux-manager Menu-Roles">
    <uiengine provider="AngularBootstrap" identifier="setting_add" class="uiengine-wrapper scrollbar">
        <uilayout name="default">
            <uitemplate>
                <div class="form-group" data-datatype="dropdownlist" data-label="[L] Role Group" data-name="RoleGroup">
                    <!--<div class="col-sm-12 col-xs-12">
                        <a mn-ng-click="Click_AddGroup()" class="ux-btn ux-btn-hover float-end" role="button" title="[LS:AddGroups]" id="Submit">
                            <em class="fas fa-plus"></em>
                        </a>
                    </div>-->
                    <div>
                        <a mn-ng-click="Click_AddGroup()" class="ux-btn ux-btn-hover float-end" role="button" title="[LS:AddGroups]" id="Submit">
                            <em class="fas fa-plus"></em>
                        </a>
                    </div>

                    <label class="" for="setting_add0dropdownlist3" data-bs-toggle="tooltip" title="" data-bs-original-title="[L] RoleGroup.Tooltip" aria-describedby="tooltip430061">[L:RoleGroup]</label><div class="tooltip fade top" role="tooltip" id="tooltip430061" style="top: 295px; left: 0px; display: block;"><div class="tooltip-arrow" style="left: 49.6124%;"></div><div class="tooltip-inner">[L:RoleGroup.Tooltip]</div></div>
                    <div class="input-group">
                        <select class="form-control control-background ng-pristine ng-invalid ng-invalid-required ng-touched dropdowntag roledropdown" ng-model="ui.data.Working_RoleDto.Options.groupId" attr-required="true" mn-ng-options="option.GroupId as option.Name for option in ui.data.RoleGroup.Options"></select>
                    </div>
                </div>
            </uitemplate>
            <uielement name="RoleName" control="textbox" attr-ng-model="ui.data.Working_RoleDto.Options.name" attr-required="true"></uielement>
            <uielement name="Description" control="textarea" attr-ng-model="ui.data.Working_RoleDto.Options.description" attr-rows="4"></uielement>
            <uielement name="Status" container-attr-ng-hide="true" control="dropdownlist" attr-ng-model="ui.data.Working_RoleDto.Options.status" attr-required="true"></uielement>
            <uielement name="SecurityMode" container-attr-ng-hide="true" control="dropdownlist" attr-ng-model="ui.data.Working_RoleDto.Options.securityMode" attr-required="true"></uielement>
            <uielement name="Public" container-attr-ng-hide="true" control="checkboxtoggle" ngmodel="ui.data.Working_RoleDto.Options.isPublic" attr-class="toggle_right"></uielement>
            <uielement name="AutoAssignment" container-attr-ng-hide="true" control="checkboxtoggle" ngmodel="ui.data.Working_RoleDto.Options.autoAssign" attr-class="toggle_right"></uielement>
            <uitemplate>
                <div class="text-end fixed-footer">
                    <button type="button" id="save" mn-ng-click="Click_SaveRole('update')" mn-ng-disabled="isDisabled" class="btn btn-sm btn-primary float-end">
                        [L:Save]
                    </button>
                </div>
            </uitemplate>
        </uilayout>
    </uiengine>
</div>





