<div ng-controller="setting_addgroup" class="vj-ux-manager">
    <uiengine provider="AngularBootstrap" identifier="setting_addgroup" class="uiengine-wrapper scrollbar">
        <uilayout name="default">
            <uielement name="RoleGroupText" control="textbox" attr-ng-model="ui.data.Working_RoleGroupDto.Options.name" attr-required="true"></uielement>
            <uielement name="Description" control="textarea" attr-rows="4" attr-ng-model="ui.data.Working_RoleGroupDto.Options.description"></uielement>
            <uitemplate>
                <div class="text-right fixed-footer">
                    <button type="button" id="save" mn-ng-click="Click_SaveRoleGroup('update')" mn-ng-disabled="isDisabled" class="btn btn-sm btn-primary">
                        [L:Update]
                    </button>
                </div>
            </uitemplate>
        </uilayout>
    </uiengine>
</div>


