.vj-image-wrapper {
    height: calc(100vh - 200px);
    overflow-y: overlay;
    overflow-x: hidden;
}

.vj-ux-manager .videowrapper.uiengine-wrapper {
    height: calc(100% - 58px) !important;
    overflow: hidden;
}

.vj-ux-manager .ImageBox.uiengine-wrapper {
    height: 100% !important;
}

.vj-image-wrapper .svg-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    -moz-column-count: 5;
    -moz-column-gap: 0px;
}

.Videothumbbox {
    max-width: 207px;
    max-height: 116px;
    overflow: hidden;
    border-radius: 5px;
}


.vj-image-wrapper .svg-container img {
    width: 100% !important;
    height: auto !important;
    transition: transform 0.35s;
    transform: scale(1);
    /*padding: 2px;*/
}

    .vj-image-wrapper .svg-container img:hover {
        object-fit: unset;
        transition: transform 0.35s;
        transform: scale(1.10);
    }


.empty_msg {
    margin-top: 0 !important;
}


#more {
    position: fixed;
    width: 97%;
    bottom: 10px;
}

.uploaddefault span.fas.fa-folder,
.uploaddefault .fas.fa-caret-down,
.uploaddefault .fas.fa-caret-right {
    vertical-align: super !important;
}

.videoTitle {
    height: 38px;
    color: rgb(13,13,13);
    padding: 5px;
    font-size: 13px;
    line-height: 18px;
    text-align: left;
    white-space: pre-wrap;
    font-weight: 400;
    display: block;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.videoOnline {
    position: relative;
    margin: 0px;
    margin-bottom: 10px;
    width: 216px;
}

.videoDuration {
    bottom: 42px;
    position: absolute;
    right: 15px;
    color: #fff;
}

    .videoDuration span {
        background: #000;
        font-size: 11px;
        padding: 2px;
        border-radius: 2px;
        font-weight: normal;
    }

.uploaddefault .table thead th {
    padding-top: 0;
}

.uploaderui table {
    border: 1px solid #eee;
    margin-bottom: 0;
}

.col-sm-4.scrollbar {
    height: calc(100vh - 100px) !important;
    overflow-y: auto !important;
}

/*.url-add {
    margin-top: 10px;
}*/

.url-add .uploadinput-button span.btn.btn-primary {
    top: -35px;
    right: 15px;
}

.uploadinput-button input {
    z-index: 10 !important;
}


.empty_msg {
    margin-top: 0;
}

.global > i,
.assetIsList i {
    color: #ccc;
}

.global.active > i,
.assetIsList.active > i {
    color: #444;
}

a.assetIsList {
    margin: 0 5px;
}

@media (max-width: 576px) {
    .col-sm-4.scrollbar {
        height: 100% !important;
    }
}