<div ng-controller="memberprofile_memberprofilesettings" class="vj-ux-manager memberprofile-settings">
    <uiengine provider="AngularBootstrap" identifier="memberprofile_memberprofilesettings" layout="admin">
        <uilayout name="Default">
            <uitemplate>
                <uilayout name="default" attr-ng-show="Show_Tab">
                    <uitemplate>
                        <div class="row">
                            <!--<div class="col-md-3">
                                <ul class="nav nav-pills nav-stacked tab-line">
                                    <li id="UserProfileFields" class="nav-item"><a class="nav-link active" mn-ng-click="Click_ShowTab('UserProfileFields')">[L:UserProfileFields]</a></li>
                                </ul>
                            </div>-->
                            <div class="col-md-12 left_border uiengine-wrapper scrollbar">
                                <uilayout name="TabsContentUserProfileFields">
                                    <uitemplate>
                                        <div id="accordion">
                                            <div class="card">
                                                <div class="card-header">
                                                    <a class="card-link" href="javascript:;" data-bs-toggle="collapse" data-target="#collapseone">
                                                        {{(ShowPropertyLocalization?'[L:PropertyLocalization]':Show_ListEntryTab?'[L:ListEntry]':'[L:UserProfileFields]')}}
                                                        <em class="fas fa-caret-down float-end"></em>
                                                    </a>
                                                </div>
                                                <div id="collapseone" class="collapse show" data-parent="#accordion">
                                                    <div class="card-body">
                                                        [uilayout:UserProfileFields]
                                                        [uilayout:PropertyLocalization]
                                                        [uilayout:ListEntry]
                                                        [uilayout:ListEntrySettings]
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </uitemplate>
                                </uilayout>
                            </div>
                        </div>
                    </uitemplate>
                </uilayout>
            </uitemplate>
            <uitemplate>
                <div class="text-end fixed-footer" mn-ng-hide="Show_ListEntryTab&&Show_ListSettingTab">
                    <button type="button" mn-ng-if="ShowUserProfileFields" class="btn btn-sm btn-primary float-end" id="Next" mn-ng-click="Click_Next('update')">
                        [L:Next]
                    </button>
                    <button type="button" mn-ng-if="Show_ListEntryTab&&!Show_ListSettingTab" class="btn btn-sm btn-primary float-end" id="ListNext" mn-ng-click="ListNext()">
                        [L:Next]
                    </button>
                    <button type="button" mn-ng-if="ShowPropertyLocalization" class="btn btn-sm btn-primary float-end" id="Update" mn-ng-click="Click_Save('update')">
                        [L:Update]
                    </button>
                </div>
            </uitemplate>
        </uilayout>
        <uilayout name="UserProfileFields" attr-ng-if="ShowUserProfileFields" attr-class="tab-pane active">            
            <uitemplate>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" data-datatype="textbox" data-label="[L:FieldName]" data-name="FieldName">
                            <label class="" for="memberprofile_memberprofilesettings1textbox0" data-bs-toggle="tooltip" title="" data-original-title="">[L:FieldName]</label>
                            <div class="input-group">
                                <input type="text" class="form-control control-background ng-pristine ng-invalid ng-invalid-required ng-touched" id="memberprofile_memberprofilesettings1textbox0" ng-disabled="IsUpdate" ng-model="ui.data.ProfileProperty.Options.ProfileProperty.PropertyName" aria-describedby="memberprofile_memberprofilesettings1textbox0-addon" required>
                            </div>
                            <span id="memberprofile_memberprofilesettings1textbox0-addon" class="help-block"></span>
                        </div>
                        <div class="form-group" data-datatype="textbox" data-label="[L:PropertyCategory]" data-name="PropertyCategory">
                            <label class="" for="memberprofile_memberprofilesettings1textbox1" data-bs-toggle="tooltip" title="" data-original-title="">[L:PropertyCategory]</label>
                            <div class="input-group">
                                <input type="text" class="form-control control-background ng-pristine ng-untouched ng-invalid ng-invalid-required" id="memberprofile_memberprofilesettings1textbox1" required ng-model="ui.data.ProfileProperty.Options.ProfileProperty.PropertyCategory" aria-describedby="memberprofile_memberprofilesettings1textbox1-addon">
                            </div>
                            <span id="memberprofile_memberprofilesettings1textbox1-addon" class="help-block"></span>
                        </div>
                        <div class="form-group" data-datatype="textbox" data-label="[L:DefaultValue]" data-name="DefaultValue">
                            <label class="" for="memberprofile_memberprofilesettings1textbox3" data-bs-toggle="tooltip" title="" data-original-title="">[L:DefaultValue]</label>
                            <div class="input-group">
                                <input type="text" class="form-control control-background ng-pristine ng-untouched ng-valid" id="memberprofile_memberprofilesettings1textbox3" ng-model="ui.data.ProfileProperty.Options.ProfileProperty.DefaultValue" aria-describedby="memberprofile_memberprofilesettings1textbox3-addon">
                            </div>
                            <span id="memberprofile_memberprofilesettings1textbox3-addon" class="help-block"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group datatype-group">
                            <label>[L:DataType]</label>
                            <div class="input-group">
                                <select class="form-control datatype" mn-ng-model="ui.data.ProfileProperty.Options.ProfileProperty.DataType" attr-datatype-required="true">
                                    <option value="0" ng-selected="option.EntryID==ui.data.ProfileProperty.Options.ProfileProperty.DataType">[L:SelectOption]</option>
                                    <option value="{{option.EntryID}}" ng-selected="option.EntryID==ui.data.ProfileProperty.Options.ProfileProperty.DataType" mn-ng-repeat="option in ui.data.ProfileProperty.Options.DataTypeOptions">{{option.Value}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" data-datatype="integer" data-label="[L:Length]" data-name="Length" ng-if="ui.data.ProfileProperty.Options.ProfileProperty.DataType=='349'||ui.data.ProfileProperty.Options.ProfileProperty.DataType=='364'">
                            <label class="" for="memberprofile_memberprofilesettings1integer2" data-bs-toggle="tooltip" title="" data-original-title="">[L:Length]</label>
                            <div class="input-group">
                                <input type="number" class="form-control ng-pristine ng-untouched ng-invalid ng-valid-min ng-invalid-required" id="memberprofile_memberprofilesettings1integer2" min="1" required ng-model="ui.data.ProfileProperty.Options.ProfileProperty.Length" aria-describedby="memberprofile_memberprofilesettings1integer2-addon">
                            </div>
                            <span id="memberprofile_memberprofilesettings1integer2-addon" class="help-block"></span>
                        </div>
                        <div class="form-group" data-datatype="textbox" data-label="[L:ValidationExpression]" data-name="ValidationExpression">
                            <label class="" for="memberprofile_memberprofilesettings1textbox4" data-bs-toggle="tooltip" title="" data-original-title="">[L:ValidationExpression]</label>
                            <div class="input-group">
                                <input type="text" class="form-control control-background ng-pristine ng-untouched ng-valid" id="memberprofile_memberprofilesettings1textbox4" ng-model="ui.data.ProfileProperty.Options.ProfileProperty.ValidationExpression" aria-describedby="memberprofile_memberprofilesettings1textbox4-addon">
                            </div>
                            <span id="memberprofile_memberprofilesettings1textbox4-addon" class="help-block"></span>
                        </div>
                        <div class="form-group" data-datatype="dropdownlist" data-label="[L:DefaultVisibility]" data-name="DefaultVisibility">
                            <label class="" for="memberprofile_memberprofilesettings1dropdownlist8" data-bs-toggle="tooltip" title="" data-original-title="">[L:DefaultVisibility]</label>
                            <div class="input-group">
                                <select class="form-control ng-pristine ng-untouched ng-valid" ng-model="ui.data.ProfileProperty.Options.ProfileProperty.DefaultVisibility" ng-options="option.value as option.label for option in ui.data.DefaultVisibility.Options">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </uitemplate>
            <uielement name="ProfileRequired" tooltip="false" control="toggle" ngmodel="ui.data.ProfileProperty.Options.ProfileProperty.Required" attr-class="toggle_right"></uielement>
            <uielement name="Visible" container-attr-ng-if="!ui.data.ProfileProperty.Options.ProfileProperty.Required" tooltip="false" control="toggle" ngmodel="ui.data.ProfileProperty.Options.ProfileProperty.Visible" attr-class="toggle_right"></uielement>-->
            <uielement name="ReadOnly" container-attr-ng-if="!ui.data.ProfileProperty.Options.ProfileProperty.Required&&ui.data.ProfileProperty.Options.ProfileProperty.Visible" tooltip="false" control="toggle" ngmodel="ui.data.ProfileProperty.Options.ProfileProperty.ReadOnly" attr-class="toggle_right"></uielement>
        </uilayout>
        <uilayout name="PropertyLocalization" attr-ng-if="ShowPropertyLocalization" attr-class="tab-pane active">           
            <uitemplate>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group language" data-datatype="dropdownlist" data-label="[L:Languages]" data-name="Languages">
                            <label class="" for="memberprofile_memberprofilesettings2dropdownlist0" data-bs-toggle="tooltip" title="">[L:Languages]</label>
                            <div class="input-group"><select class="form-control ng-pristine ng-valid valid ng-touched" ng-change="Change_Language()" ng-model="ui.data.ProfilePropertyLocalization.Options.Language" ng-options="option.Value as option.Text for option in ui.data.Languages.Options" aria-invalid="false"><option value="0" selected="selected" label="English (United States)">English (United States)</option></select></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group " data-datatype="textbox" data-label="[L:PropertyNameString]" data-name="PropertyNameString">
                            <label class="" for="memberprofile_memberprofilesettings2textbox1" data-bs-toggle="tooltip" title="">[L:PropertyNameString]</label>
                            <div class="input-group">
                                <input type="text" class="form-control control-background ng-pristine ng-invalid ng-invalid-required ng-touched error" id="memberprofile_memberprofilesettings2textbox1" required="true" ng-model="ui.data.ProfilePropertyLocalization.Options.PropertyNameString" aria-describedby="memberprofile_memberprofilesettings2textbox1-addon" aria-required="true" aria-invalid="true">
                            </div>
                            <span id="memberprofile_memberprofilesettings2textbox1-addon" class="help-block"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group " data-datatype="textbox" data-label="[L:PropertyHelpString]" data-name="PropertyHelpString">
                            <label class="" for="memberprofile_memberprofilesettings2textbox2" data-bs-toggle="tooltip" title="">[L:PropertyHelpString]</label>
                            <div class="input-group">
                                <input type="text" class="form-control control-background ng-pristine ng-untouched ng-valid valid" id="memberprofile_memberprofilesettings2textbox2" ng-model="ui.data.ProfilePropertyLocalization.Options.PropertyHelpString" aria-describedby="memberprofile_memberprofilesettings2textbox2-addon" aria-invalid="false">
                            </div>
                            <span id="memberprofile_memberprofilesettings2textbox2-addon" class="help-block"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group " data-datatype="textbox" data-label="[L:CategoryNameString]" data-name="CategoryNameString">
                            <label class="" for="memberprofile_memberprofilesettings2textbox3" data-bs-toggle="tooltip" title="">[L:CategoryNameString]</label>
                            <div class="input-group">
                                <input type="text" class="form-control control-background ng-pristine ng-untouched ng-valid valid" id="memberprofile_memberprofilesettings2textbox3" ng-model="ui.data.ProfilePropertyLocalization.Options.CategoryNameString" aria-describedby="memberprofile_memberprofilesettings2textbox3-addon" aria-invalid="false">
                            </div>
                            <span id="memberprofile_memberprofilesettings2textbox3-addon" class="help-block"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group " data-datatype="textbox" data-label="[L:PropertyValidationString]" data-name="PropertyValidationString">
                            <label class="" for="memberprofile_memberprofilesettings2textbox4" data-bs-toggle="tooltip" title="">[L:PropertyValidationString]</label>
                            <div class="input-group">
                                <input type="text" class="form-control control-background ng-pristine ng-untouched ng-valid valid" id="memberprofile_memberprofilesettings2textbox4" ng-model="ui.data.ProfilePropertyLocalization.Options.PropertyValidationString" aria-describedby="memberprofile_memberprofilesettings2textbox4-addon" aria-invalid="false">
                            </div>
                            <span id="memberprofile_memberprofilesettings2textbox4-addon" class="help-block"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <div class="form-group " data-datatype="textbox" data-label="[L:PropertyRequiredString]" data-name="PropertyRequiredString">
                            <label class="" for="memberprofile_memberprofilesettings2textbox5" data-bs-toggle="tooltip" title="">[L:PropertyRequiredString]</label>
                            <div class="input-group">
                                <input type="text" class="form-control control-background ng-pristine ng-untouched ng-valid valid" id="memberprofile_memberprofilesettings2textbox5" ng-model="ui.data.ProfilePropertyLocalization.Options.PropertyRequiredString" aria-describedby="memberprofile_memberprofilesettings2textbox5-addon" aria-invalid="false">
                            </div>
                            <span id="memberprofile_memberprofilesettings2textbox5-addon" class="help-block"></span>
                        </div>
                    </div>
                </div>
            </uitemplate>
        </uilayout>
        <uilayout name="ListEntry" attr-ng-if="Show_ListEntryTab">
            <uitemplate>
                <div class="row">
                    <div class="col-12 pl-none">
                        <a title="[L:AddListEntryTitle]" mn-ng-if="Show_ListEntryTab&&!Show_ListSettingTab" mn-ng-click="ShowAdd_ListEntry()" class="ux-btn ux-btn-hover float-end">
                            <em class="fas fa-plus"></em>
                        </a>
                    </div>
                </div>
            </uitemplate>
            <uielement name="Entries" control="grid" paged="false" attr-ng-if="!Show_ListSettingTab" label="false" attr-class="table-responsive table-grid" sortable="true" sortableupdate="onGridSorted" sortablekey="SortOrder" sortablehandle="drag">
                <column name="Name" width="95" class="profilename">
                    <uitemplate>
                        <div class="vanjaro-memberprofile drag">
                            <span>{{row.Text}}</span>
                            <div class="fontsmall">{{row.Value}}</div>
                        </div>
                    </uitemplate>
                </column>               
                <column name="Action" width="5">
                    <uitemplate>
                        <div class="dropdown float-end dropbtn">
                            <a id="dropdownMenuLink" class="dropdownmenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <em class="fas fa-ellipsis-v"></em>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item box-icon" mn-ng-click="Click_Settings(row)"><em class="fas fa-cog"></em><span>[L:ListSettings]</span></a>
                                <hr class="m-none" mn-ng-if="row.CanDelete">
                                <a mn-ng-click="Click_Delete(row)" class="dropdown-item box-icon"><em class="fas fa-trash"></em><span>[L:Delete]</span></a>
                            </div>
                        </div>
                    </uitemplate>
                </column>
            </uielement>
            <uitemplate>
                <div class="search-info-msg" mn-ng-show="ui.data.Entries.Options.length<=0&&Loaded&&!Show_ListSettingTab">[L:ListEntryNotAvailable]</div>
            </uitemplate>
        </uilayout>
        <uilayout name="ListEntrySettings" attr-ng-if="Show_ListSettingTab">
            <uielement name="ListText" tooltip="false" control="textbox" ngmodel="ui.data.ListEntryRequest.Options.Text" attr-required="true"></uielement>
            <uielement name="ListValue" tooltip="false" control="textbox" ngmodel="ui.data.ListEntryRequest.Options.Value" attr-required="true"></uielement>
            <!--<uielement name="EnableSortOrder" tooltip="false" control="toggle" ngmodel="ui.data.ListEntryRequest.Options.EnableSortOrder" attr-class="toggle_right"></uielement>-->
            <uitemplate>
                <div class="text-end fixed-footer">
                    <button id="ListSave" class="btn btn-sm btn-primary button-left " type="button" ng-click="AddUpdate_ListEntry()">[L:Update]</button>
                    <a class="btn btn-sm btn-link button-left" ng-click="Click_Cancel()"><span>[L:Cancel]</span></a>
                </div>
            </uitemplate>
        </uilayout>
    </uiengine>
</div>
