

.Notification .vj-ux-manager .dropdown.dropbtn .dropdownmenu {
    position: relative;
    top: 0px;
    padding: 12px 18px;
    right: -15px;
    border-left: 1px solid #eee;
    font-size: 15px;
    cursor: pointer;
}

.Notification span.author_name {
    padding-top: 5px;
    display: block;
    font-size: 12px;
}

.Notification .vj-ux-manager .uiengine-wrapper {
    padding: 15px 5px;
}


.Notification div.uitab.blockstab a,
div.uitab.notificationtab a {
    padding: 8px 4px;
    font-size: 13px;
    text-transform: uppercase;
}


.Notification .managetab div.uitab a,
.Notification .blockstabview div.uitab a,
.Notification .notification-set div.uitab a {
    display: block;
    text-align: center;
    padding: 8px 4px;
    font-size: 13px;
    color: #6d7882;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
}

.Notification .managetab div.uitab,
.blockstabview div.uitab,
.notification-set div.uitab {
    display: table-cell;
    border-bottom: 1px solid #ccc;
}


.Notification .vanjaro-users {
    padding: 5px;
    white-space: pre-line;
    font-size: 12px;
    margin-top: -32px;
    line-height: 16px;
    color: #777;
}

.Notification span.author_name.author_sub {
    width: 192px;
    height: 19px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Notification .search-info-msg {
    text-align: center;
    margin-top: 16px;
    padding: 50px 15px;
    font-size: 12px;
    font-style: italic;
    border: 1px solid #ccc;
    color: #aaa;
}

.Notification .uitab.notificationtab.active {
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f3f3f3),to(#fff));
    background-image: -webkit-linear-gradient(top,#f3f3f3,#fff);
    background-image: -o-linear-gradient(top,#f3f3f3,#fff);
    background-image: linear-gradient(180deg,#f3f3f3,#fff);
    border-bottom: 3px solid #0088cc;
}

.Notification .notification-set {
    background-color: #fff;
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,.1);
    box-shadow: 0 0 8px rgba(0,0,0,.1);
    display: table;
    table-layout: fixed;
    width: 100%;
}

.Notification .heading {
    padding: 0;
}

.Notification table {
    border-collapse: separate;
    border-spacing: 0 10px;
    overflow: hidden;
}

    .Notification table thead,
    .Notification table tfoot {
        display: none;
    }

.userinfo {
    border-top: 1px solid #ccc;
}

.vj-ux-manager .Notification .table td {
    border: 1px solid #dee2e6 !important;
}

.Notification .badge-light {
    color: #6d7882;
    background-color: #eee;
    border-radius: 10px;
    vertical-align: text-bottom;
    float: right;
    padding: 5px 10px;
    margin-right: 5px;
}

.senderdetail {
    background: #fff;
    margin: 0 !important;
    max-width: 100%;
    line-height: normal;
}

.senderavatar img.img-responsive {
    width: 65px;
    margin-right: 10px;
}
/*Notification*/
.Notification ul.Notifications {
    list-style: none;
    padding: 0 10px;
}

    .Notification ul.Notifications li {
        padding: 8px 0;
        cursor: pointer;
    }

        .Notification ul.Notifications li a {
            display: block;
        }

.Notification span.errorcount {
    background: #bbbaba;
    border-radius: 20px;
    margin-left: 5px;
    float: right;
    margin-top: 2px;
    color: #fff;
}

span.notificationname {
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
}
