<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Vanjaro.Installer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Vanjaro.Installer.Properties.Settings>
            <setting name="SiteURL" serializeAs="String">
                <value>mysite</value>
            </setting>
            <setting name="SiteTLD" serializeAs="String">
                <value>.vanjaro.local</value>
            </setting>
            <setting name="PhysicalPath" serializeAs="String">
                <value>C:\Sites</value>
            </setting>
            <setting name="DatabaseServer" serializeAs="String">
                <value>(local)</value>
            </setting>
            <setting name="Use32Bit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SQLUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="SQLPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="UseWindowsAuth" serializeAs="String">
                <value>True</value>
            </setting>
        </Vanjaro.Installer.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.TypeExtensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>