<div ng-controller="setting_setting" class="vj-ux-manager">
    <uiengine provider="AngularBootstrap" identifier="setting_setting" layout="admin">
        <uilayout name="Heading">
            <uitemplate>
                <div class="row">
                    <div class="col-12 extback pr-none">
                        <a onclick="parent.Click_Back()" class="ux-backbtn">
                            <span class="extbackicon">
                                <em class="fas fa-chevron-left"></em>
                            </span>
                            <span class="extname">[LS:Theme]</span>
                        </a>
                    </div>
                </div>
            </uitemplate>
        </uilayout>
        <uilayout name="default">
            <uitemplate>
                <div mn-ng-repeat="option in ui.data.Theme.Options" class="theme">
                    <div class="theme-image selected-theme" style="background-image: url('{{option.Thumbnail}}');" mn-ng-if="option.Value == ui.data.Theme.Options[0].Value">
                        <span class="author_name">{{option.Value}} </span>
                        <div class="theme-settings dropdown dropbtn float-right">
                            <a id="dropdownMenuLink" class="dropdownmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <em class="fas fa-ellipsis-v"></em>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item box-icon" ng-click="Open_ThemeBuilder()"><em class="fas fa-cog"></em><span>[LS:Settings]</span></a>
                            </div>
                        </div>
                    </div>
                    <div class=" theme-image normal-theme" style="background-image: url('{{option.Thumbnail}}');" mn-ng-if="option.Value != ui.data.Theme.Options[0].Value">
                        <span class="author_name">{{option.Value}} </span>
                        <div class="theme-settings dropdown dropbtn float-right">                            
                                <a id="dropdownMenuLink" class="dropdownmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <em class="fas fa-ellipsis-v"></em>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item box-icon" ng-click="ChangeTheme(option.Value)"><em class="fas fa-cog"></em><span>[LS:Apply]</span></a>
                                    <a class="dropdown-item box-icon" ng-click="Open_ThemeBuilder()"><em class="fas fa-cog"></em><span>[LS:Settings]</span></a>
                                </div>                            
                        </div>
                    </div>
                </div>
                <div mn-ng-if="ui.data.Theme.Options.length==0">[L:NoThemes]</div>
            </uitemplate>
        </uilayout>
    </uiengine>
</div>
<style>
    body {
        background: #e6e9ec;
    }
</style>

