
/*Secondary color*/
.btn-secondary {
    color: #fff;
}

/*Secondary, Tertiary, Quaternary hover colors*/
.btn-secondary:hover,
.btn-tertiary:hover,
.btn-quaternary:hover {
    color: #fff;
}


/*Tertiary Color*/
.btn-tertiary {
    background-color: $orchid;
    color: #fff;
    border-color: $orchid;
}

.btn-outline-tertiary {
    color: $orchid;
    border-color: $orchid;
}

.border-tertiary {
    border-color: $orchid !important;
}

.text-tertiary {
    color: $orchid !important;
}

.bg-tertiary {
    background-color: $orchid !important;
}

/*Quaternary Color*/

.btn-quaternary {
    background-color: $salmon;
    color: #fff;
    border-color: $salmon;
}

.btn-outline-quaternary {
    color: $salmon;
    border-color: $salmon;
}

.border-quaternary {
    border-color: $salmon !important;
}

.text-quaternary {
    color: $salmon !important;
}

.bg-quaternary {
    background-color: $salmon !important;
}

.not-registerd {
    margin-top: 20px;
}


/*------------ social buttons --------------*/

.authentication-btn ul {
    padding-left: 0;
    list-style: none;
    margin: 0;
    display: block;
    width: 100%;
    padding: 0;
}


.authentication-btn li img {
    width: 30px;
    height: 30px;
    float: left;
    margin-top: -3px;
}

.authentication-btn li a {
    border: 1px solid #ccc;
    margin-bottom: 15px;
    cursor: pointer;
    border-radius: 4px;
}

.authentication-btn li a {
    display: block;
    padding: 15px 10px;
    padding: 15px 10px;
    text-align: center;
    -webkit-box-shadow: 1px 6px 27px -13px rgba(0, 0, 0, 0.62);
    -moz-box-shadow: 1px 6px 27px -13px rgba(0, 0, 0, 0.62);
    box-shadow: 1px 6px 27px -13px rgba(0, 0, 0, 0.62);
}

.authentication-btn li:last-child a {
    margin-bottom: 0;
}

.authentication-btn li a .btn-name {
    margin-left: -30px;
    color: #444;
}

.authentication-btn li:hover {
    background: #eee;
}

.authentication-btn {
    display: flex;
    width: 100%;
    max-width: 350px;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.login-box.socialbutton {
    max-width: 800px;
    margin: auto;
    display: flex;
}


.socialbutton .Vj-Login {
    width: 100%;
    float: left;
    margin: 0;
}

span.separator {
    display: inline;
    padding: 20px;
    position: relative;
    top: 46%;
    color: #ccc;
 
}

.separator-box {
    position: relative;
    display: inline-block;
    margin: 0 15px;
}

.topline {
    content: '';
    position: absolute;
    width: 1px;
    height: 16%;
    background: #ccc;
    right: 30px;
    top: 90px;
}

.bottomline {
    content: '';
    position: absolute;
    width: 1px;
    height: 16%;
    background: #ccc;
    right: 30px;
    bottom: 92px;
}


@media(max-width: 991px) {
    .login-box.socialbutton {
        flex-direction:column-reverse;
    }
    span.separator {
        padding: 0px;
        top: auto;
      left: 50%;
        transform: translateX(-50%);
    }


    .socialbutton .Vj-Login {
        margin: auto;
        float: none;
    }

    .authentication-btn {
        margin: auto;
    }

    .separator-box {
         display: flex;
    text-align: center;
    max-width: 350px;
    margin: 20px auto;
    width: 100%;
    position: relative;
    }

    .topline {
        width: 40%;
        height: 1px;
        left: 0;
        top: 12px;
    }

    .bottomline {
        width: 40%;
        height: 1px;
        right: 0;
        top: 12px;
    }
}
