/*Tertiary Color*/

.btn-tertiary {
	background-color: $orchid;
	color: #fff;
	border-color: $orchid;
}

.btn-outline-tertiary {
	color: $orchid;
	border-color: $orchid;
}

.border-tertiary {
	border-color: $orchid !important;
}

.text-tertiary {
	color: $orchid !important;
}

.bg-tertiary {
	background-color: $orchid !important;
}

/*Quaternary Color*/

.btn-quaternary {
	background-color: $salmon;
	color: #fff;
	border-color: $salmon;
}

.btn-outline-quaternary {
	color: $salmon;
	border-color: $salmon;
}

.border-quaternary {
	border-color: $salmon !important;
}

.text-quaternary {
	color: $salmon !important;
}

.bg-quaternary {
	background-color: $salmon !important;
}
