$orchid: #da70d6 !default;
$salmon: #fa8072 !default;
$blue: $primarycolor;
$gray-600: $secondarycolor;
$orchid: $tertiary;
$salmon: $quaternary;
$success: $successcolor;
$info: $infocolor;
$warning: $warningcolor;
$danger: $dangercolor;
$light: $lightcolor;
$dark: $darkcolor;