<div ng-controller="settings_setting" class="vj-ux-manager block-icon" access-roles="editpage">
    <uiengine provider="AngularBootstrap" identifier="settings_setting" class="scrollbar">
        <uilayout name="default">
            <uitemplate>
                <div class="input-group icon-search-block">
                    <input id="icon-search" type="text" placeholder="Search" class="form-control">
                    <em class="fa fa-search"></em>
                    <em class="fas fa-times close-iconbtn"></em>
                    <div class="input-group-append">
                        <select class="input-group-text" mn-ng-change="Change_IconFolder()" ng-model="ui.data.IconFolders.Value">
                            <option value="{{option.Value}}" mn-ng-repeat="option in ui.data.IconFolders.Options">{{option.Value}}</option>
                        </select>
                    </div>
                </div>

                <div class="search-info-msg" mn-ng-hide="NoIconFound">[L:NoIconFound]</div>
                <div class="vj-icon-wrapper scrollbar">
                    <div class="row text-center">
                        <div mn-ng-repeat="option in ui.data.All_Icons.Options" class="col-sm-2 col-xs-2">
                            <div class="svg-container">
                                <div mn-ng-dblClick="doubleclick()" title="{{option.Name}}" mn-ng-click="selectIcon(option)">
                                    <div mn-ng-bind-html="Parse(option)" class="svg-icon"></div>
                                    <div class="icon-text">{{option.Name}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-sm btn-primary btn-block" id="more" mn-ng-click="Search_Icon()" mn-ng-show="Paging.Total_Icon > ui.data.All_Icons.Options.length">
                    [L:More]
                </button>
            </uitemplate>
        </uilayout>
    </uiengine>
</div>